<h1> SHOW TASK </h1>
<p>
  <strong>Task:</strong>
  <%= @task %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task %>
</p>

<%#= link_to 'Edit', edit_project_path(@project) %> |
<%#= link_to 'Back', projects_path %>
